    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>Wholesome Manager</title>
            <link rel="icon" type="image/x-icon" href="/public/img/favicon.ico" />
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Boogaloo&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="/public/css/styles.css" type="text/css" />
            <script src="https://kit.fontawesome.com/b40850cb13.js" crossorigin="anonymous"></script>
        </head>
        <body>
            <div class="parent-container container-fluid d-flex justify-content-center align-items-center flex-column p-4
            overflow-auto">
                <!--
                <header class="header container-fluid d-flex">
                    <h1 class="navbar-logo">
                        <img src="/public/img/Logo.png" alt="logo" class="logo h-100" />  
                    </h1>
                    <nav class="ms-auto flex-1 d-flex align-items-start justify-content-end
                    navbar navbar-expand-lg" >
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbar-collapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbar-collapse">
                            <div class="navbar-nav">
                                <li class="nav-item">
                                    <a href="/" class="nav-link active">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/menu" class="nav-link">Menu</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/order" class="nav-link">Order</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/manage" class="nav-link">Manage</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/stats" class="nav-link">Stats</a>
                                </li>   
                            </div>
                        </div>
                    </nav>
                </header>
                -->
                <main class="main-container container-fluid d-flex flex-column align-items-center">
                    <div class="main-logo-container w-100">
                        <div class="logo-container my-4 mx-auto h-100">
                            <img src="/public/img/Logo.png" alt="logo" class="logo img-fluid" />
                        </div>
                    </div>
                    <div class="main-navbar-container container-fluid d-flex justify-content-center
                    align-items-center my-4">
                        <div class="main-navbar container-fluid">
                            <div class="row">
                                <div class="col-12 col-md-6 col-xl-3 text-center">
                                    <a href="/menu" class="main-navbar-item">
                                        <span class="icon me-2"><i class="fa-solid fa-utensils"></i></span>
                                        Our Menu</a>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3 text-center">
                                    <a href="/order" class="main-navbar-item">
                                        <span class="icon me-2"><i class="fa-solid fa-cart-shopping"></i></span>
                                        New Order
                                    </a>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3 text-center">
                                    <a href="/manage" class="main-navbar-item">
                                        <span class="icon me-2"><i class="fa-solid fa-clipboard"></i></span>
                                        Manage Orders
                                    </a>
                                </div>
                                <div class="col-12 col-md-6 col-xl-3 text-center">
                                    <a href="/stats" class="main-navbar-item">
                                        <span class="icon me-2"><i class="fa-regular fa-chart-bar"></i></span>
                                        Check Stats
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script type="text/javascript" src="/public/js/script.js"></script>
        </body>
    </html>