<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pop n' Grill Manager | New Order</title>
        <link rel="icon" type="image/x-icon" href="/public/img/favicon.ico" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Boogaloo&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/css/order.css" type="text/css" />

        <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script defer src="https://kit.fontawesome.com/b40850cb13.js" crossorigin="anonymous"></script>
        <script defer type="text/javascript" src="/public/js/order.js"></script>
    </head>
    <body>
        <div class="order-modal container flex-column" id="order-modal">
            <button type="button" class="close-modal-btn">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <div class="menu-selection"></div>
            <div class="menu-items-container"></div>
            <div class="buttons-container d-flex justify-content-end mt-auto pb-3">
                <button type="button" class="modal-btn" id="modal-cancel-btn">Cancel</button>
                <button type="button" class="modal-btn" id="modal-add-btn">Add</button>
            </div>
        </div>
        <div class="overlay"></div>
        <div class="parent-container container-fluid modal-disabled">
            <header class="header container-fluid d-flex p-2">
                <h1 class="navbar-logo">
                    <a href="/"><img src="/public/img/Logo.png" alt="logo" class="logo h-100" /></a>
                </h1>
                <nav class="ms-auto flex-1 d-flex align-items-start justify-content-end
                navbar navbar-expand-lg" >
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar-collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <div class="navbar-nav">
                            <li class="nav-item">
                                <a href="/menu" class="nav-link">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a href="/order" class="nav-link active">Order</a>
                            </li>
                            <li class="nav-item">
                                <a href="/manage" class="nav-link">Manage</a>
                            </li>
                            <li class="nav-item">
                                <a href="/stats" class="nav-link">Stats</a>
                            </li>   
                        </div>
                    </div>
                </nav>
            </header>
            <div class="loader mx-auto mt-5"></div>
            <main class="container-fluid">
                <div class="container-fluid title-container mb-5"> 
                    <img src="/public/img/new-order-title.png" alt="page-title" 
                    class="page-title d-block mx-auto" />
                </div>
                <div class="main-form-container container-fluid">
                    <div class="row h-100">
                        <div class="col form-container px-2 d-flex flex-column justify-content-start mx-2">
                            <div class="input-container container-fluid d-flex flex-column">
                                <label for="customer-name">Customer Name</label>
                                <input type="text" id="customer-name" class="form-input" />
                            </div>
                            <div class="wrapper mt-5">
                                <div class="total-container container-fluid d-flex mb-5">
                                    <span>Total</span>
                                    <span class="ms-auto d-block order-total">₱0</span>
                                </div>
                                <div class="buttons-container container-fluid d-flex justify-content-end">
                                    <button type="button" id="cancel-btn" class="form-btn">Cancel</button>
                                    <button type="button" id="order-btn" class="form-btn">Order</button>
                                </div>
                            </div>
                        </div>
                        <div class="col order-container d-flex flex-column overflow-auto mx-2 h-100">
                            <div class="order-items container-fluid d-flex flex-column"></div>
                            <button type="button" id="add-item-btn" class="add-item-btn mx-2">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>